@model List<Ereader.ViewModels.Page.PageViewModel>

@{
    ViewData["Title"] = "Index";
    <style type="text/css">
               body {
                   background: #ccc;
               }

               #flipbook {
                   width: 1152px;
                   height: 752px;
               }

               #flipbook .turn-page {
                   background-color: #ccc;
                   background-size: 100% 100%;
               }

    </style>
}
<div id="zoom-viewport">
    <div id="flipbook">

        @foreach (var item in Model)
        {
            <img src="data:image/png;base64, @item.Image" alt="@item.Id" width="350" height="350" />
        }
    </div>
</div>
<script>
    //$("#flipbook").turn({
    //    width: 400,
    //    height: 300,
    //    autoCenter: true
    //});

    $(window).ready(function () {
        $('#flipbook').turn({
            display: 'double',
            acceleration: true,
            gradients: !$.isTouch,
            elevation: 50,
            when: {
                turned: function (e, page) {
                }
            }
        });
    });

    $(window).bind('keydown', function (e) {
        if (e.keyCode == 37)
            $("#flipbook").turn("previous");
        else if (e.keyCode == 39)
            $("#flipbook").turn("next");
        //else if (e.keyCode == 38)
        //    $('#zoom-viewport').zoom('zoomIn');
        //else if (e.keyCode == 40)
        //    $('#zoom-viewport').zoom('zoomOut');
    });

    document.querySelector('#zoom-viewport').addEventListener('click', function (event) {
        event.preventDefault();
        zoom.to({ element: event.target });
    });
</script>


